{% extends "base.twig" %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <div class="inputContainer mt-3">			
			
        <header>
            <h2 class="font-weight-bold rounded bg-secondary">Success! Your account is now active</h2>
        </header>
    
        <h5 class="rounded bg-white mt-3 text-center" style="color: #060B95;">You can now <a href="/login">log in</a>.</h5>
    
    </div>

{% endblock %}
