{% extends 'base.twig' %}

{% block footer %}

<script src="../js/hideShowPassword.min.js"></script>
<script src="../js/app.js"></script>    

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formSignup').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block title %}Sign up{% endblock %}

{% block body %}  

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div class="inputContainer mt-3">
        
        <header>
            <h2 class="font-weight-bold rounded bg-secondary">Sign up</h2>
        </header>

        <form method="post" action="/signup/create" id="formSignup" class="mx-auto">

            <input type="text" id="inputName" name="name" placeholder="&#xE80A; Name" autofocus value="{{ user.name }}" required class="form-control" style="font-family: 'Fontello';" />
           
            <input type="email" id="inputEmail" name="email" placeholder="&#xE809; email address" value="{{ user.email }}" required class="form-control" style="font-family: 'Fontello';" />
            
            <input type="password" id="inputPassword" name="password" placeholder="&#xE806; Password" class="form-control" style="font-family: 'Fontello';" />
                        
            <button type="submit" class="btn register">Sign up</button>

        </form>
       
    </div>
    
{% endblock %}