{% extends 'base.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}

<div class="inputContainer mt-3">			
			
    <header>
        <h2 class="font-weight-bold rounded">Sign up</h2>
    </header>

    <h5 class="rounded bg-white mt-3 text-center" style="color: #060B95;">Success! Thank you for signing up.</h5>
    <h5 class="rounded bg-white mt-3 text-center" style="color: #060B95;">Please check your email to activate your account.</h5>

</div>

{% endblock %}

