
.icon-money:before { content: '\e800'; } /* '' */
.icon-off:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-home-1:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-mail-3:before { content: '\e809'; } /* '' */
.icon-user-3:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-gauge:before { content: '\e80c'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
