body, html
{	
	background-color: #26282E;		
	font-size: 16px;
	width: 100%;	
	font-family: 'Lato', sans-serif !important; 
	margin: 0px;
}

.mainNav
{	
	background-color: transparent;
	
}

.navbar-brand
{	
	font-size: 60px;	
	letter-spacing: 5px;	
	margin: 5px;
	padding: 5px;
	font-weight: bold;	
	color: #209781;	
	white-space: pre-wrap;	
	
}

.navbar-brand:hover
{
	color: #5fe3cb;
}

.nav-item:hover
{
	background-color: #209781;
}

h2
{	
	text-align: center;
	padding: 10px;
	font-size: 30px;
	letter-spacing: 2px;	
	color: #26282E;	
	background-color: #6c757d;	
}

@media(max-width: 767px)
{
	.navbar-brand
	{
		padding: 0px;
		margin: 0px;
		font-size: 30px;
		letter-spacing: 1px;
	}
	p
	{
		font-size: 17px;			
	}
	h2
	{
		padding: 2px;
		font-size: 24px;
		letter-spacing: 1px;
		}
	h3
	{
		font-size: 21px;
	}
	h4
	{		
		font-size: 21px;		
	}
}
p
{	
	color: #060B95;	
	text-align: justify;	
}

blockquote > p
{
	color: #209781;
}

.inputContainer
{
	width: 350px;
	margin: 10px  auto;	
	padding-bottom: 100px;
}

/* //////////////////  LOGIN  /////////////////////// */

button.login
{	
	width: 100%;	
	background-color: #26282E;
	border: 5px solid #209781;
	font-size: 20px;	
	color: #209781;
	padding: 6px;
	margin-top: 10px;	
	letter-spacing: 2px;
	transition: all .3s ease-in-out;
}

button.login:focus
{	
	-webkit-box-shadow: 0px 0px 5px 5px rgba(32,151,129,0.9);
	-moz-box-shadow: 0px 0px 5px 5px rgba(32,151,129,0.9);
	box-shadow: 0px 0px 5px 5px rgba(32,151,129,0.9);	
}

button.login:hover
{	
	background-color: #209781;
	color: #26282E;	
	font-size: 24px;
	letter-spacing: 4px;
	padding: 3px;
}

/* //////////////////  FOOTER  /////////////////////// */

.info
{
	width: 100%;		
	text-align: center;
	font-size: 14px;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 3px;	
	color: black;
	z-index: 200;	
}

/* //////////////////  SIGNUP  /////////////////////// */

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
.choice
{	
	font-family: 'Lato', sans-serif;
	width: 100%;	
	height: 36px;	
	color: #209781;
	border: 1px solid  #209781;
	font-size: 20px;	
	padding: 3px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	background-color: transparent;	
}

.progress
{	
	border: 1px solid  #c2cce8;	
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=checkbox]:focus,
.choice:focus
{	
	border: 1px solid  #209781;
	background-color: #209781;
	color: #26282E;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(32,151,129,0.9);
	-moz-box-shadow: 0px 0px 5px 1px rgba(32,151,129,0.9);
	box-shadow: 0px 0px 5px 1px rrgba(32,151,129,0.9);		
}

button.register
{	
	width: 100%;	
	background-color: #209781;
	color: #26282E;
	border: 5px solid #209781;
	font-size: 20px;	
	padding: 6px;
	margin-top: 10px;
	letter-spacing: 2px;
	transition: all .3s ease-in-out;
}

button.register:focus
{
	-webkit-box-shadow: 0px 0px 5px 5px rgba(32,151,129,0.9);
	-moz-box-shadow: 0px 0px 5px 5px rgba(32,151,129,0.9);
	box-shadow: 0px 0px 5px 5px rgba(32,151,129,0.9);
}

button.register:hover
{	
	background-color: #26282E;
	color: #209781;
	font-size: 24px;
	letter-spacing: 4px;
	padding: 3px;
}

/* Zmiana koloru czcionki placeholdera */
input::-webkit-input-placeholder
{
    /*color: #999;*/	
	color: #209781;

}
input:focus::-webkit-input-placeholder
{
   /* color: #060B95;*/   	
	color: #26282E;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    /*color: #999;*/	
	color: #209781;	
}
input:focus:-moz-placeholder
{    
	color: #26282E;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    /*color: #999;*/	
	color: #209781;	
}
input:focus::-moz-placeholder
{	
	color: #26282E;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    /*color: #999;*/	
	color: #209781;	
}
input:focus:-ms-input-placeholder
{   
	color: #26282E;
}

.icon
{	
	margin-top: 10px;	
	font-size: 20px;	
	padding: 5px 3px;	
	border: 1px solid  #209781;
	background-color: #26282E;
	color: #209781;
	width: 36px;	
	box-sizing: border-box;
	height: 36px;	
}

/* //////////////////  MENU  /////////////////////// */

.navcontainer
{
	margin: auto;	
}

.navbar-nav .active
{
	background-color: #D3DDE9;	
}
 
 h3
{	
	color: #060B95;		
}

/* //////////////////  EXPENSE /////////////////////// */

option
{	
	background-color: #26282E;
	color: #209781;
	height: 36px;		 
}

/* //////////////////  Balance /////////////////////// */

.table
{
	background-color: none;		
}

#chartContainer1,
#chartContainer2
{
	height: 500px;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 10px;
}

/* //////////////////  SIGNUP.PHP /////////////////////// */
 
.error
{
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;	
}
	
/* //////////////////  LOGIN.HP /////////////////////// */
	
.information
{
	color:#5bc0de;
	margin-top: 10px;
	margin-bottom: 10px;	
}

/*////////////////// GAME //////////////////// */

#game
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

h1.game
{
	font-size: 64px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
}

p.game
{
	color: #209781;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	letter-spacing: 2px;
}

.board
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cardA
{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("../img/karta.png");
	border: 4px solid #e9b64a;
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%);
	transition: all .3s ease-in-out;
}

.card
{
	width: 125px;
	height: 125px;
	display: inline-block;
	margin: 3px;
	background-image: url("../img/karta.png");
	border: 4px solid #51c8b2;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
}

.card:hover
{
	border: 4px solid #e9b64a;
	filter: brightness(100%);
}

.score
{
	margin-top: 5px;
	letter-spacing: 2px;
}

@media(max-width: 767px)
{
	h1.game
	{
		padding: 0px;
		margin: 0px;
		font-size: 30px;
		letter-spacing: 1px;
	}
	p.game
	{
		font-size: 17px;			
	}
}

.incomeCategoryName
{	
	display: inline-block;
	background-color: #26282E;
	color: #0d6efd;  
	border: 1px solid  #0d6efd;
	width: 100%;	
}

.incomeCategoryName:hover
{
	background-color: #0d6efd;	
	color: #26282E;	
}

.expenseCategoryName
{	
	display: inline-block;
	background-color: #26282E;
	color: #ffc107;  
	border: 1px solid  #ffc107;
	width: 100%;	
}

.expenseCategoryName:hover
{
	background-color: #ffc107;	
	color: #26282E;	
}

.expenseName
{	
	display: inline-block;
	background-color: transparent; 
	border: 1px solid  #209781;
	color: #209781;
	width: 100%;
}

.expenseName:hover
{
	background-color: #209781;
	border: 1px solid  #209781;
	color: #26282E;		
}

.incomeName
{	
	display: inline-block;
	background-color: transparent; 
	border: 1px solid  #209781;
	color: #209781;
	width: 100%;
}

.incomeName:hover
{
	background-color: #209781;
	border: 1px solid  #209781;
	color: #26282E;	
}

.categoryName
{	
	display: inline-block;
	background-color: #26282E;
	color: #209781;  
	border: 1px solid  #209781;
	width: 100%;	
}

.categoryName:hover
{
	background-color: #209781;	
	color: #26282E;	
}

.tdCategoryName
{
	width: 60%;
}

@media(max-width: 575px)
{
	.categoryName	
	{	
		font-size: 16px;	
	}

	.tdCategoryName
	{
		width: 45%;
		word-break: break-word;
	}

	legend
	{	
		font-size: 18px;	
	}

	#inputPassword
	{
		max-width: 450px;
	}
}
.btn
{
	color: #26282E;
}