{% extends 'base.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<div class="inputContainer mt-3">			
			
    <header>
        <h2 class="font-weight-bold rounded bg-secondary">Request password reset</h2>
    </header>

    <form method="post" action="/password/request-reset">
       
        <input type="email" id="inputEmail" name="email" placeholder="&#xE809; Email address" autofocus required class="form-control"  style="font-family: 'Fontello'; width: 100%" />

        <button type="submit" class="btn login">Send password reset</button>
        
    </form>

</div>

{% endblock %}