{% extends 'base.twig' %}

{% block title %}Reset password{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}
    
    <div class="inputContainer mt-3">			
			
        <header>
            <h2 class="font-weight-bold rounded bg-secondary">Reset password</h2>
        </header>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <form method="post" id="formPassword" action="/password/reset-password">

            <input type="hidden" name="token" value="{{ token }}" />
           
            <input type="password" id="inputPassword" name="password" placeholder="&#xE806; Password" class="form-control" style="font-family: 'Fontello';" />

            <button type="submit" class="btn login">Reset password</button>

        </form>

    </div>

{% endblock %}
