{% extends "base.twig" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <div class="inputContainer mt-3">			
			
        <header>
            <h2 class="font-weight-bold rounded">Request password reset</h2>
        </header>

        <h5 class="rounded response mt-3 text-center">Please check your email.</h5>
    </div>

{% endblock %}
