{% extends 'base.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <div class="inputContainer mt-3">			
			
        <header>
            <h2 class="font-weight-bold rounded">Request password reset</h2>
        </header>

        <h5 class="rounded response mt-3 text-center">Password reset link invalid or expired, please click <a href="/password/forgot" class="font-weight-bold" style="color: #5fe3cb;">here</a> to request another one.</h5>

    </div>

{% endblock %}   
