{% extends 'base.html' %}

{% block title %}Balance{% endblock %}

{% block footer %}		
			
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
	
	window.onload = function () {			

	var chart = new CanvasJS.Chart("chartContainer", {
		exportEnabled: true,
		animationEnabled: true,
		title:{
			text: "Expense structure"
		},
		legend:{
			cursor: "pointer",
			itemclick: explodePie
		},
		data: [{
			type: "pie",
			showInLegend: true,
			toolTipContent: "{name}: <strong>{y} PLN</strong>",
			indexLabel: "{name} - {y} PLN",
			dataPoints: [
			{ y: 26, name: "School Aid", exploded: true },
			{ y: 20, name: "Medical Aid" },
			{ y: 5, name: "Debt/Capital" },
			{ y: 3, name: "Elected Officials" },
			{ y: 7, name: "University" },
			{ y: 17, name: "Executive" },
			{ y: 22, name: "Other Local Assistance"}			
			
			/*{% for expenseCategoryFromSelectedPeriod in expenseCategoriesFromSelectedPeriod %}
		 		{y: {{ expenseCategoryFromSelectedPeriod.amountOfExpenses }}, name: {{ expenseCategoryFromSelectedPeriod.name }}, exploded: true},
			{% endfor %}*/	
			
			]
		}]
	});
	chart.render();
	}

	function explodePie (e) {
		if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
			e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
		} else {
			e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
		}
		e.chart.render();	
}
	
	const el = document.getElementById('selectPeriod');
	const box = document.getElementById('dateRange');
	el.addEventListener('change', function handleChange(event) {
		if (event.target.value === 'custom_period') {
			box.style.visibility = 'visible';
		} else {
			box.style.visibility = 'hidden';
		 }
	});
</script>	
	
{% endblock %}

{% block nav_item_4 %}active{% endblock %}

{% block body %}   
	
	<main>
	
		<div class="container my-3 text-center pb-5">
		
			<div class="row"> 

			<div class="inputContainer mt-0 pb-3">			
				<header>
					<h2 class="font-weight-bold rounded">Check balance<i class="icon-chart-bar mr-3"></i></h2>
				</header>
				<form action="/balance/index" method="post">					
					<div class="input-group">
						<div class="input-group-prepend">				
							<span class="input-group-text rounded-left icon" style="width: 50px;"><i class="icon-calendar"></i></span>
						</div>
						<select class="choice rounded-right" id="selectPeriod" name="period" required style="width:280px">
							<option value selected disabled hidden>Choose period</option>					
							<option value="current_month">Current month</option>
							<option value="last_month">Previous month</option>
							<option value="current_year">Current year</option>
							<option value="custom_period">Custom</option>					
						</select>							
						<div id="dateRange" style="visibility: hidden;">
							<div class="input-group">
								<div class="input-group-prepend">				
									<span class="input-group-text rounded-left icon" style="width: 50px;">From: </span>
								</div>
							<input class="rounded-right" type="date" name="start_date" style="width:280px" value="{{ currentDate }}">
							</div>				
							<div class="input-group">
								<div class="input-group-prepend">				
									<span class="input-group-text rounded-left icon" style="width: 50px;">To: </span>
								</div>
							<input class="rounded-right" type="date" name="end_date" style="width:280px" value="{{ currentDate }}">
							</div>
						</div>
						<button type="submit" class="btn login">Show balance</button>
					</div>
				</form>			
			</div>
			
				<div class="w-100"></div>
				
				{% if start_date == end_date %}
				<h2 class="col-10 col-md-6 font-weight-bold rounded mx-auto"><i class="icon-calendar mr-3"></i>{{start_date }}</h2>
				{% else %}
				<h2 class="col-10 col-md-6 font-weight-bold rounded mx-auto"><i class="icon-calendar mr-3"></i>{{ start_date }} => {{ end_date }}</h2>
				{% endif %}
				
				<div class="w-100"></div>		
											
				<div class="table col-10 col-md-5 mx-auto rounded mt-2 mb-0">		
					<h3 style="background-color: #D3DDE9; border: 1px solid  #c2cce8;" class="rounded">Incomes<i class="icon-money ml-5"></i>{{ amountOfAllIncomesFromSelectedPeriod.amountOfAllIncomes }}</h3>	
					
					{% if incomeCategoriesFromSelectedPeriod %}
							
						{% for incomeCategoryFromSelectedPeriod in incomeCategoriesFromSelectedPeriod %}
															
									
							<h5 class="rounded bg-white my-2" style="color: #060B95; border: 1px solid  #c2cce8;">{{ incomeCategoryFromSelectedPeriod.name }}<i class="icon-money ml-3"></i>{{ incomeCategoryFromSelectedPeriod.amountOfIncomes }}</h5>							
								
								{% for incomeFromSelectedPeriod in incomesFromSelectedPeriod %}
																	
									{% if incomeFromSelectedPeriod.income_category_assigned_to_user_id == incomeCategoryFromSelectedPeriod.income_category_assigned_to_user_id  %}
									<!--
									<form action="/balance/deleteIncome" method="post">
										<h6 class="bg-white rounded mb-0 mt-1"style="border: 1px solid  #c2cce8;"><i class="icon-money"></i>
											<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">
											{{ incomeFromSelectedPeriod.date_of_income }}<span class="mx-2">&#8680</span>
											{{ incomeFromSelectedPeriod.income_comment }}<span class="mx-2">&#8680;</span>
											{{ incomeFromSelectedPeriod.amount }}
											<button type="button" class="text-success ml-1" onClick="document.getElementById('{{ incomeFromSelectedPeriod.id }}').style.display='block';" style="border: none; background: none;"><i class="icon-pencil"></i></button>
											<button type="submit" class="text-danger ml-1" style="border: none; background: none;"><i class="icon-off"></i></a></button>
										</h6>
									</form>
									
									<div id="{{ incomeFromSelectedPeriod.id }}" style="display: none;" class="mb-1 pt-0 rounded">

										<form action="/balance/editIncome" method="post">
											<div class="form-row mx-0">
												<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">
														
												<div class="input-group col-4 px-0">
													<div class="input-group-prepend">				
														<span class="input-group-text rounded-left icon mt-0"><i class="icon-calendar"></i></span>
													</div>
													<input type="date" class="form-control rounded-right mt-0" name="date" value="{{ incomeFromSelectedPeriod.date_of_income }}" required>
												</div>
												<div class="input-group col-4 px-0">	
													<div class="input-group-prepend">
														<span class="input-group-text rounded-left icon mt-0"><i class="icon-pencil"></i></span>
													</div>
													<input type="text" class="form-control rounded-right mt-0" name="comment" value="{{ incomeFromSelectedPeriod.income_comment }}">	
												</div>		        
												<div class="input-group col-4 px-0">
													<div class="input-group-prepend ">
														<span class="input-group-text rounded-left icon mt-0"><i class="icon-gauge"></i></span>
													</div>
													<input type="number" class="form-control rounded-right mt-0" step="0.01" min="0.01" name="amount" value="{{ incomeFromSelectedPeriod.amount }}" required>	
												</div>											
											</div>
											<div class="form-row mx-0" style="height: 32px;">		
													<select class="choice rounded mt-0 col-12 text-center" name="category">						
														<option value="{{ incomeCategoryFromSelectedPeriod.id }}" selected hidden>{{ incomeCategoryFromSelectedPeriod.name }}</option>                          					
														{% for incomeCategory in incomeCategories %}                             
														<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
														{% endfor %}                               
													</select>												
											</div>

											<div class="form-row mx-0 mt-1 mb-2" style="height: 32px;">	
												<button  type="button" class="btn btn-danger btn-sm mr-auto" onClick="document.getElementById('{{ incomeFromSelectedPeriod.id }}').style.display='none';" style="width: 60px;">Cancel</button>
														
												<button  type="submit" class="btn btn-success btn-sm ml-auto" style="width: 60px;">Save</button>
											</div>	
										</form>			
									</div>
									-->
										<h6 class="bg-white rounded mb-0 mt-1"style="border: 1px solid  #c2cce8;"><i class="icon-money"></i>
											<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">
											{{ incomeFromSelectedPeriod.date_of_income }}<span class="mx-2">&#8680</span>
											{{ incomeFromSelectedPeriod.income_comment }}<span class="mx-2">&#8680;</span>
											{{ incomeFromSelectedPeriod.amount }}
											<button type="button" class="text-success ml-1" style="border: none; background: none;"  data-toggle="modal" data-target="#editIncome{{ incomeFromSelectedPeriod.id }}"><i class="icon-pencil"></i></button>										
											<button type="button" class="text-danger ml-1" style="border: none; background: none;" data-toggle="modal" data-target="#deleteIncome{{ incomeFromSelectedPeriod.id }}"><i class="icon-off"></i></a></button>

											<div class="modal fade" id="editIncome{{ incomeFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="editIncomeLabel{{ incomeFromSelectedPeriod.id }}" aria-hidden="true">
											
												<div class="modal-dialog">
													<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
														<div class="modal-header">
														<h5 class="modal-title" id="editIncomeLabel{{ incomeFromSelectedPeriod.id }}">Edit income</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														</div>
														<div class="modal-body">
															<form action="/balance/editIncome" method="post">
																<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">

																	<div class="input-group">
																		<div class="input-group-prepend">				
																			<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																		</div>
																		<input type="date" class="form-control  rounded-right" name="date" value="{{ incomeFromSelectedPeriod.date_of_income }}" required>
																	</div>
																	
																	<div class="input-group">	
																		<div class="input-group-prepend ">
																			<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																		</div>
																		<input type="text" class="form-control  rounded-right" name="comment" value="{{ incomeFromSelectedPeriod.income_comment }}">	
																	</div>				

																	<div class="input-group">
																		<div class="input-group-prepend ">
																			<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																		</div>
																		<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" value="{{ incomeFromSelectedPeriod.amount }}" required>	
																	</div>
																	
																	<select class="choice rounded text-center" name="category" style="width: 100%; font-weight: bold; font-size: 20px;">						
																		<option value="{{ incomeCategoryFromSelectedPeriod.id }}" selected hidden>{{ incomeCategoryFromSelectedPeriod.name }}</option>                          					
																		{% for incomeCategory in incomeCategories %}                             
																		<option value="{{ incomeCategory.id }}">{{ incomeCategory.name }}</option> 
																		{% endfor %}                            
																	</select>
																	
															
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																		<button type="submit" class="btn btn-primary">Save changes</button>
																	</div>
																</form>
														
															</div>
													</div>
												</div>
											</div>	
											<div class="modal fade" id="deleteIncome{{ incomeFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="deleteIncomeLabel{{ incomeFromSelectedPeriod.id }}" aria-hidden="true">
											
												<div class="modal-dialog">
													<div class="modal-content" style="background-color:#f99797; border: 1px solid #fe8484;">
														<div class="modal-header">
														<h5 class="modal-title" id="deleteIncomeLabel{{ incomeFromSelectedPeriod.id }}">Remove the following income?</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														</div>
														<div class="modal-body">
															<form action="/balance/deleteIncome" method="post">
															<input name="id" type="number" style="display: none;" value="{{ incomeFromSelectedPeriod.id }}">

																<div class="input-group">
																	<div class="input-group-prepend">				
																		<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																	</div>
																	<input type="date" class="form-control  rounded-right" name="date" value="{{ incomeFromSelectedPeriod.date_of_income }}" disabled>
																</div>
															
																<div class="input-group">	
																	<div class="input-group-prepend ">
																		<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																	</div>
																	<input type="text" class="form-control  rounded-right" name="comment" value="{{ incomeFromSelectedPeriod.income_comment }}" disabled>	
																</div>				

																<div class="input-group">
																	<div class="input-group-prepend ">
																		<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																	</div>
																	<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" value="{{ incomeFromSelectedPeriod.amount }}"  disabled>	
																</div>														
																					
																<input type="text" class="form-control rounded text-center" style="width: 100%; font-weight: bold; font-size: 20px;" name="category" value="{{ incomeCategoryFromSelectedPeriod.name }}" disabled>															
														
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-primary">Delete income</button>
															</div>
														</form>	
													</div>
												</div>
											</div>
										</div>
									</h6>
									
								{% endif %}									

							{% endfor %}
														
						{% endfor %}							
						
					{% else %}
															
						<div class="information rounded text-center mx-auto p-2 w-100" >No income in the selected period</div>	
														
					{% endif %}						
				
				</div>				
				
				<div class="table col-10 col-md-5 mx-auto rounded mt-2 mb-0" id="expensesTable">		
					<h3 style="background-color: #D3DDE9; border: 1px solid  #c2cce8;" class="rounded">Expenses<i class="icon-basket ml-5"></i>{{amountOfAllExpensesFromSelectedPeriod.amountOfAllExpenses }}</h3>	
					
					{% if expenseCategoriesFromSelectedPeriod %}
							
						{% for expenseCategoryFromSelectedPeriod in expenseCategoriesFromSelectedPeriod %}
															
									
							<h5 class="rounded bg-white my-2" style="color: #060B95; border: 1px solid  #c2cce8;">{{ expenseCategoryFromSelectedPeriod.name }}<i class="icon-basket ml-3"></i>{{ expenseCategoryFromSelectedPeriod.amountOfExpenses }}</h5>							
								
								{% for expenseFromSelectedPeriod in expensesFromSelectedPeriod %}
																	
									{% if expenseFromSelectedPeriod.expense_category_assigned_to_user_id == expenseCategoryFromSelectedPeriod.expense_category_assigned_to_user_id  %}
										<!--
										<h6 class="bg-white rounded" style="border: 1px solid  #c2cce8;"><i class="icon-basket"></i>{{ expenseFromSelectedPeriod.date_of_expense }}<span class="mx-2">&#8680</span>{{ expenseFromSelectedPeriod.expense_comment }}<span class="mx-2">&#8680;</span>{{ expenseFromSelectedPeriod.amount }}<a class="text-success ml-1" href="#"><i class="icon-pencil"></i></a><a class="text-danger ml-1" href="#"><i class="icon-off"></i></a></h6>
										-->
										<!--
										<form action="/balance/deleteExpense" method="post">
											<h6 class="bg-white rounded mb-0 mt-1"style="border: 1px solid  #c2cce8;"><i class="icon-money"></i>
												<input name="id" type="number" value="{{ expenseFromSelectedPeriod.id }}" style="display: none;">
												{{ expenseFromSelectedPeriod.date_of_expense }}<span class="mx-2">&#8680</span>
												{{ expenseFromSelectedPeriod.expense_comment }}<span class="mx-2">&#8680;</span>
												{{ expenseFromSelectedPeriod.amount }}<span class="mx-2">&#8680;</span>
												{{ expenseFromSelectedPeriod.name }}
												
												<button type="button" class="text-success ml-1" onClick="document.getElementById('{{ expenseFromSelectedPeriod.id }}').style.display='block';" style="border: none; background: none;"><i class="icon-pencil"></i></button>
												<button type="submit" class="text-danger ml-1" style="border: none; background: none;"><i class="icon-off"></i></a></button>
											</h6>
										</form>
										
										<div id="{{ expenseFromSelectedPeriod.id }}" style="display: none;" class="mb-1 pt-0 rounded">
	
										<form action="/balance/editExpense" method="post">
											<div class="form-row mx-0">
												<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}">
														
												<div class="input-group col-4 px-0">
													<div class="input-group-prepend">				
														<span class="input-group-text rounded-left icon mt-0"><i class="icon-calendar"></i></span>
													</div>
													<input type="date" class="form-control rounded-right mt-0" name="date" value="{{ expenseFromSelectedPeriod.date_of_expense }}" required>
												</div>
												<div class="input-group col-4 px-0">	
													<div class="input-group-prepend">
														<span class="input-group-text rounded-left icon mt-0"><i class="icon-pencil"></i></span>
													</div>
													<input type="text" class="form-control rounded-right mt-0" name="comment" value="{{ expenseFromSelectedPeriod.expense_comment }}">	
												</div>		        
												<div class="input-group col-4 px-0">
													<div class="input-group-prepend ">
														<span class="input-group-text rounded-left icon mt-0"><i class="icon-gauge"></i></span>
													</div>
													<input type="number" class="form-control rounded-right mt-0" step="0.01" min="0.01" name="amount" value="{{ expenseFromSelectedPeriod.amount }}" required>	
												</div>											
											</div>											
											<div class="form-row mx-0" style="height: 32px;">		
													<select class="choice rounded mt-0 col-6 text-center" name="method">						
														<option value ="{{ expenseFromSelectedPeriod.payment_method_assigned_to_user_id}}" selected hidden>{{ expenseFromSelectedPeriod.name }}</option>                          					
														{% for paymentMethod in paymentMethods %}                              
														<option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option> 
														{% endfor %}                               
													</select>																			
													<select class="choice rounded mt-0 col-6 text-center" name="category">						
														<option value ="{{ expenseCategoryFromSelectedPeriod.id }}" selected hidden>{{ expenseCategoryFromSelectedPeriod.name }}</option>                          					
														{% for expenseCategory in expenseCategories %}                             
														<option value="{{ expenseCategory.id }}">{{ expenseCategory.name }}</option> 
														{% endfor %}                               
													</select>													
											</div>
	
											<div class="form-row mx-0 mt-1 mb-2" style="height: 32px;">	
												<button  type="button" class="btn btn-danger btn-sm mr-auto" onClick="document.getElementById('{{ expenseFromSelectedPeriod.id }}').style.display='none';" style="width: 60px;">Cancel</button>
														
												<button  type="submit" class="btn btn-success btn-sm ml-auto" style="width: 60px;">Save</button>
											</div>	
										</form>			
									</div>
									-->
											<h6 class="bg-white rounded mb-0 mt-1"style="border: 1px solid  #c2cce8;"><i class="icon-money"></i>
												<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}">
												{{ expenseFromSelectedPeriod.date_of_expense }}<span class="mx-2">&#8680</span>
												{{ expenseFromSelectedPeriod.expense_comment }}<span class="mx-2">&#8680;</span>
												{{ expenseFromSelectedPeriod.amount }}<span class="mx-2">&#8680;</span>
												{{ expenseFromSelectedPeriod.name }}
												<button type="button" class="text-success ml-1" style="border: none; background: none;"  data-toggle="modal" data-target="#editExpense{{ expenseFromSelectedPeriod.id }}"><i class="icon-pencil"></i></button>										
												<button type="button" class="text-danger ml-1" style="border: none; background: none;" data-toggle="modal" data-target="#deleteExpense{{ expenseFromSelectedPeriod.id }}"><i class="icon-off"></i></a></button>

												<div class="modal fade" id="editExpense{{ expenseFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="editExpenseLabel{{ expenseFromSelectedPeriod.id }}" aria-hidden="true">
												
													<div class="modal-dialog">
														<div class="modal-content" style="background-color:#D3DDE9; border: 1px solid #c2cce8;">
															<div class="modal-header">
															<h5 class="modal-title" id="editExpenseLabel{{ expenseFromSelectedPeriod.id }}">Edit expense</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
															</div>
															<div class="modal-body">
																<form action="/balance/editExpense" method="post">
																	<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}">

																		<div class="input-group">
																			<div class="input-group-prepend">				
																				<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																			</div>
																			<input type="date" class="form-control  rounded-right" name="date" value="{{ expenseFromSelectedPeriod.date_of_expense }}" required>
																		</div>
																		
																		<div class="input-group">	
																			<div class="input-group-prepend ">
																				<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																			</div>
																			<input type="text" class="form-control  rounded-right" name="comment" value="{{ expenseFromSelectedPeriod.expense_comment }}">	
																		</div>				

																		<div class="input-group">
																			<div class="input-group-prepend ">
																				<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																			</div>
																			<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" value="{{ expenseFromSelectedPeriod.amount }}" required>	
																		</div>

																		<select class="choice rounded" name="method" style="width: 100%;">						
																			<option value ="{{ expenseFromSelectedPeriod.payment_method_assigned_to_user_id}}" selected hidden>{{ expenseFromSelectedPeriod.name }}</option>                          					
																			{% for paymentMethod in paymentMethods %}                              
																			<option value="{{ paymentMethod.id }}">{{ paymentMethod.name }}</option> 
																			{% endfor %}                                   
																		</select>
																		
																		<select class="choice rounded text-center" name="category" style="width: 100%; font-weight: bold; font-size: 20px;">						
																			<option value="{{ expenseCategoryFromSelectedPeriod.id }}" selected hidden>{{ expenseCategoryFromSelectedPeriod.name }}</option>                          					
																			{% for expenseCategory in expenseCategories %}                             
																			<option value="{{ expenseCategory.id }}">{{ expenseCategory.name }}</option> 
																			{% endfor %}                            
																		</select>
																		
																
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																			<button type="submit" class="btn btn-primary">Save changes</button>
																		</div>
																	</form>
															
																</div>
														</div>
													</div>
												</div>	
												<div class="modal fade" id="deleteExpense{{ expenseFromSelectedPeriod.id }}" tabindex="-1" aria-labelledby="deleteExpenseLabel{{ expenseFromSelectedPeriod.id }}" aria-hidden="true">
												
													<div class="modal-dialog">
														<div class="modal-content" style="background-color:#f99797; border: 1px solid #fe8484;">
															<div class="modal-header">
															<h5 class="modal-title" id="deleteExpenseLabel{{ expenseFromSelectedPeriod.id }}">Remove the following expense?</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
															</div>
															<div class="modal-body">
																<form action="/balance/deleteExpense" method="post">
																<input name="id" type="number" style="display: none;" value="{{ expenseFromSelectedPeriod.id }}">

																	<div class="input-group">
																		<div class="input-group-prepend">				
																			<span class="input-group-text  rounded-left icon"><i class="icon-calendar"></i></span>
																		</div>
																		<input type="date" class="form-control  rounded-right" name="date" value="{{ expenseFromSelectedPeriod.date_of_expense }}" disabled>
																	</div>
																
																	<div class="input-group">	
																		<div class="input-group-prepend ">
																			<span class="input-group-text  rounded-left icon"><i class="icon-pencil"></i></span>
																		</div>
																		<input type="text" class="form-control  rounded-right" name="comment" value="{{ expenseFromSelectedPeriod.expense_comment }}" disabled>	
																	</div>				

																	<div class="input-group">
																		<div class="input-group-prepend ">
																			<span class="input-group-text  rounded-left icon"><i class="icon-gauge"></i></span>
																		</div>
																		<input type="number" class="form-control  rounded-right " step="0.01" min="0.01" name="amount" value="{{ expenseFromSelectedPeriod.amount }}"  disabled>	
																	</div>
																	
																	<div class="input-group">
																		<div class="input-group-prepend ">
																			<span class="input-group-text  rounded-left icon"><i class="icon-cc-visa"></i></span>
																		</div>
																		<input type="text" class="form-control  rounded-right" name="method" value="{{ expenseFromSelectedPeriod.name }}" disabled>	
																	</div>	
																						
																	<input type="text" class="form-control rounded text-center" style="width: 100%; font-weight: bold; font-size: 20px;" name="category" value="{{ expenseCategoryFromSelectedPeriod.name }}" disabled>															
															
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																	<button type="submit" class="btn btn-primary">Delete expense</button>
																</div>
															</form>	
														</div>
													</div>
												</div>
											</div>
										</h6>

									{% endif %}									

								{% endfor %}
														
						{% endfor %}							
						
					{% else %}
															
						<div class="information rounded text-center mx-auto p-2 w-100" >No expense in the selected period</div>	
														
					{% endif %}						
				
				</div>

				<div class="w-100"></div>	
			
				<div class="table col-10 col-md-6 mx-auto rounded mt-2 mb-0">
					<h3 style="background-color: #D3DDE9; border: 1px solid  #c2cce8;" class="rounded">Balance<i class="icon-chart-bar ml-5 mr-1"></i>{{ balance}}</h3>					
					<h4 class="font-weight-bold bg-white rounded" style="color: #060B95;"></h4>
						
					{% if (incomeCategoriesFromSelectedPeriod or expenseCategoriesFromSelectedPeriod) %}
							
						{% if (balance) < (0) %}				
							<h4 class="text-danger bg-white rounded">&#128201; Watch out, you are getting into debt!</h4>
						{% else %}
							<h4 class="text-success bg-white rounded">&#128200; Congratulations. You manage your finances very well!</h4>
						{% endif %}	
					
					{% endif %}	
										
				</div>
				
				{% if expenseCategoriesFromSelectedPeriod %}
							
					<div id="chartContainer" style="height: 450px; width: 90%; margin-left: auto; margin-right: auto;"></div>
										
				{% endif %}	
				
			</div>

		</div>		
				
	</main>    
    
{% endblock %}