{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block nav_item_1 %}active{% endblock %}

{% block body %}  

    {% if current_user %}
        <!--Hello {{ current_user.name }}.-->
        <!--
            <li><a href="/profile/show">Profile</a></li>
            <li><a href="/logout">Log out</a></li>
         -->                        
        <main>
                            
            <div class="container mt-3 mb-5">
                            
                <div class="row">                                    
                                      
                    <div class="col-8 text-center rounded mx-auto mb-3" style="background-color: #D3DDE9; border: 1px solid  #c2cce8;">				
                            <h3>&#128400; Hello, {{ current_user.name }}!</h3>	
                    </div>
                    <div class="col-8 text-center rounded mx-auto mb-3" style="background-color: #D3DDE9; border: 1px solid  #c2cce8;">				
                        <h3>Select an option from the menu above</h3>	
                    </div>                                    
                              		
                    <div class="w-100"></div>
                                    
                    <div class="col-9 mx-auto mt-3">
                        <div class="row">
                            <div class="col-lg-5 col-9 mt-3 mx-auto">				
                                <img class="img-thumbnail" src="../img/plan.jpg" alt="plan">
                            </div>
                            <div class="col-lg-5 col-9 mt-3 mx-auto">	
                                <img class="img-thumbnail" src="../img/plan2.jpg" alt="plan2">		
                            </div>
                        </div>
                    </div>			
                                    
                 </div>
                            
            </div>
                            
        </main>

    {% else %}       
            
            <main>
                <div class="mx-auto" style="width: 100%;">					
                            <h3 class="text-center rounded mx-auto p-2 bg-secondary" style="color: white;">&#129300; How does it work?</h3>
                </div>
            
                <div class="container mt-3 mb-5">
                                        
                    <div class="row">                       
                        
                        <div class="col-lg-5 col-11 mt-3 mx-auto">	
                            <p class="rounded mx-auto p-3" style="background-color: #D3DDE9; border: 5px solid white; font-size: 17px;">						
                            It is a free application that helps you manage your own finances in a quick and intuitive way. After registration, you can log in to your account and use the menu offering the following functionalities:<br>
                            <i class="icon-money mr-1"></i>add income - a simple and pleasant option<br>
                            <i class="icon-basket mr-1"></i>add expense - option sometimes necessary<br>
                            <i class="icon-chart-bar mr-1"></i>view balance sheet - displays balance sheet for a selected period of time divided into categories<br>
                            <i class="icon-wrench mr-1"></i>settings - allows you to personalize the application				
                            </p>
                        </div>
                        
                        <div class="col-lg-5 col-11 mt-3 mx-auto">	
                            <img class="img-thumbnail" src="img/żarówki.jpg" alt="żarówki">
                        </div>
                        
                        <div class="w-100"></div>
                        
                        <div class="col-lg-5 col-11 mt-3 mx-auto">					
                            <a href="/signup/new" ><button  type="button" class="btn register" style="width: 100%">Sign up</button></a>
                        </div>
                        
                        <div class="col-lg-5 col-11 mt-3 mx-auto">		
                            <a href="/login" ><button  type="button" class="btn login" style="width: 100%">Login</button></a>
                        </div>
                        
                    </div>
                    
                </div>		
                    
            </main>                
            
    {% endif %}

{% endblock %}
