{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block nav_item_5 %}active{% endblock %}

{% block body %}   

    <main>
	
		<div class="btn-toolbar mt-3 col-8 mx-auto">
				<h2 class="font-weight-bold rounded mb-0 col-6"><i class="icon-money ml-3"></i>Income categories</h2>
				<button  type="button" class="btn btn-danger btn-lg mx-0 col-3" onClick="document.getElementById('income_categories').style.display='block';">Edit</button>
													
				<button  type="submit" class="btn btn-success btn-lg mx-0 col-3">Add new</button>
			

				<div id="income_categories" style="display: none;" class="col-6">
					{% for incomeCategory in incomeCategories %}  
					<form action="#" method="post">				
						<h5 class="rounded bg-white mb-0 mt-2" style="color: #060B95; border: 1px solid  #c2cce8;">
							<input name="id" type="number" style="display: none;" value="{{ incomeCategory.id }}">
							{{ incomeCategory.name }}
							<button type="button" class="text-success ml-1" onClick="document.getElementById('{{ incomeCategory.id }}').style.display='block';" style="border: none; background: none;"><i class="icon-pencil"></i></button>
							<button type="submit" class="text-danger ml-1" style="border: none; background: none;"><i class="icon-off"></i></a></button>
						</h5>
						<div id="{{ incomeCategory.id }}" style="display: none;" class="btn-toolbar pt-0 rounded mb-0 mx-0">
							<form action="#" method="post">
								<div class="form-row mx-0 mt-0 col-12 px-0">
									<input name="id" type="text" value="New name" class="my-0 pt-0 rounded col-6">
									<button  type="button" class="btn btn-danger btn-sm mr-auto col-3" onClick="document.getElementById('{{ incomeCategory.id }}').style.display='none';" style="width: 60px;">Cancel</button>
															
									<button  type="submit" class="btn btn-success btn-sm ml-auto col-3" style="width: 60px;">Save</button>
								</div>	
							</form>		
						</div>
						{% endfor %}							
				</div>	
		</div>
		
		
	</main>

{% endblock %}    