{% extends "base.twig" %}

{% block title %}Log in{% endblock %}

{% block body %}
   
    <div class="inputContainer mt-3">			
			
        <header>
            <h2 class="font-weight-bold rounded bg-secondary">Log in</h2>
        </header>

        <form action="/login/create" method="post">
            
            <input type="email" id="inputEmail" name="email" placeholder="&#xE809; Email address" autofocus value="{{ email }}" class="form-control" style="font-family: 'Fontello';" />
            <input type="password" id="inputPassword" name="password" placeholder="&#xE806; Password" class="form-control" style="font-family: 'Fontello';" />            
            <div class="checkbox mt-2">
                <label>
                    <div class="input-group">
                    <input type="checkbox" style="width: 24px; height: 24px;" class="m-auto" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /><h5 class="rounded bg-white my-0 text-center" style="color: #060B95; width: 326px;">Remember me</h5>
                    </div>
                </label>
            </div>
            
            <button type="submit" class="btn login">Log in</button>
            <a href="/password/forgot"><h5 class="rounded bg-white mt-3 text-center" style="color: #060B95;">Forgot password?</h5></a>
            
        </form>

    </div>

{% endblock %}
