{% extends "base.twig" %}

{% block title %}Log in{% endblock %}

{% block body %}
   
    <div class="inputContainer mt-3">			
			
        <header>
            <h2 class="font-weight-bold rounded">Log in</h2>
        </header>

        <form action="/login/create" method="post">
            
            <input type="email" id="inputEmail" name="email" placeholder="&#xE809; Email address" autofocus value="{{ email }}" class="form-control" style="font-family: 'Fontello'; width: 100%" />
            <input type="password" id="inputPassword" name="password" placeholder="&#xE806; Password" class="form-control" style="font-family: 'Fontello'; width: 100%" />            
            <div class="checkbox mt-2">
                <label>
                    <div class="input-group">
                    <input type="checkbox" style="height: 24px; width: 24px;" class="my-auto" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /><h5 class="rounded my-0 text-center" style="color: #5fe3cb; width: 326px; background-color: #26282E; border: 1px solid #209781;">Remember me</h5>
                    </div>
                </label>
            </div>
            
            <button type="submit" class="btn login">Log in</button>
            <a href="/password/forgot"><h5 class="rounded mt-3 text-center" style="color: #5fe3cb; background-color: #26282E;
	        border: 1px solid #209781;">Forgot password?</h5></a>
            
        </form>

    </div>

{% endblock %}
