<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Personal Budget</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontello.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">    
    
</head>
<body>
    <nav class="navbar navbar-default mainNav rounded mb-0">
			
		<div class="container">
				
			<div class="navbar-header mx-auto">
				<a class="navbar-brand  text-center" style="color: #060B95;" href="/"><span><i class="icon-calc"></i></span>Personal Budget</a>
			</div>
					
			<blockquote class="blockquote mx-auto mt-3" style="border-left: 0;">					
				<p class="mb-1"> "If you buy things you don't need, soon you will have to sell things you need"</p>
				<footer class="blockquote-footer mt-0">Warren Buffett</footer>						
			</blockquote>
					
		</div>

	</nav>	

	                   
        {% if current_user %}
        <div class="navcontainer rounded">
		
            <nav class="navbar navbar-light py-0 mb-0 navbar-expand-lg">		
                    
                <button class="navbar-toggler colapsed" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
                        <span class="navbar-toggler-icon"></span>
                </button>
                    
                <div class="collapse navbar-collapse" id="mainmenu">
                    
                    <ul class="navbar-nav mx-auto py-0">
                        <li class="nav-item {% block nav_item_1 %}{% endblock %}">
                            <a class="nav-link" href="/"><i class="icon-home-1"></i>Home</a>
                        </li>
                        <li class="nav-item {% block nav_item_2 %}{% endblock %}">
                            <a class="nav-link" href="/income/index"><i class="icon-money"></i>Add income</a>
                        </li>
                        <li class="nav-item {% block nav_item_3 %}{% endblock %}">
                            <a class="nav-link" href="/expense/index"><i class="icon-basket"></i>Add expense</a>
                        </li>
                        <li class="nav-item {% block nav_item_4 %}{% endblock %}">
                            <a class="nav-link" href="/balance/index"><i class="icon-chart-bar"></i>View balance</a>
                        </li>
                        <li class="nav-item {% block nav_item_5 %}{% endblock %}">
                            <a class="nav-link" href="#"><i class="icon-wrench"></i>Settings</a>
                        </li>
                        <li class="nav-item {% block nav_item_6 %}{% endblock %}">
                            <a class="nav-link text-danger" href="/login/destroy"><i class="icon-off"></i>Log out</a>
                        </li>
                    </ul>
    
                </div>
                    
            </nav>
            
        </div>
                        
        {% endif %}
             

       {% for message in flash_messages %}
            <div class="alert alert-{{ message.type }} text-center">
                {{ message.body }}
            </div>
        {% endfor %}

        {% block body %}
        {% endblock %}


    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>   
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>	
	
    <script src="../js/bootstrap.min.js"></script>
    

    {% block footer %}
    {% endblock %}

    <footer>
	
		<div class="info rounded">
			All rights reserved &copy; 2023 Thank you for visit!
		</div>
		
	</footer>
</body>
</html>
